@import "../../../styles/variables";

.card {
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   padding: 8px;
   height: 273px;
   width: 215px;
   gap: 10px;
   border: 1px solid $gray--300;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
}

.card__img {
   max-height: 130px;
   width: 100%;
}

.cart__name {
   font-weight: 700;
   color: $white;
}

.card__actions {
   display: flex;
   gap: 16px;
   flex-direction: row;
   justify-content: space-around;
}

.card__category,
.card__price {
   font-weight: 700;
   font-size: 18px;
   flex: 1 1 auto;
   color: $white;
}
