@import "./variables";
@import "./mixins/container";

* {
   font-family: "Roboto", sans-serif;
   font-size: 14px;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: $background;
}

.container {
   width: 100%;
   padding-right: calc(1.5rem * 0.5);
   padding-left: calc(1.5rem * 0.5);
   margin-right: auto;
   margin-left: auto;
}

@each $breakpoint, $container-max-width in $container-max-widths {
   .container-#{$breakpoint} {
      @extend .container;
   }

   @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      %responsive-container-#{$breakpoint} {
         max-width: $container-max-width;
      }

      $extend-breakpoint: true;

      @each $name, $width in $grid-breakpoints {
         @if ($extend-breakpoint) {
            .container#{breakpoint-infix($name, $grid-breakpoints)} {
               @extend %responsive-container-#{$breakpoint};
            }

            @if ($breakpoint == $name) {
               $extend-breakpoint: false;
            }
         }
      }
   }
}
