@import "../../styles/variables";

.header {
   height: 30px;
   margin-bottom: 20px;
   background-color: $primary;
}

.table {
   display: flex;
   flex-direction: row;
   gap: 8px;
   flex-wrap: wrap;
}
