@import "../../../styles//variables";

.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 8px;
   border: none;
   cursor: pointer;
   border-radius: 12px;
   width: 100%;
   font-weight: 600;
}

.primary {
   background-color: $primary;
   color: $white;
}

.secondary {
   background-color: $secondary;
   color: $black;
}

.info {
   background-color: $info;
   color: $black;
}

.warning {
   background-color: $warning;
   color: $black;
}

.inherit {
   background-color: $inherit;
   color: $white;
}
